<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626477440147-0dfn7soqta4bm1ck94v7kp01mpdbvdef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626477440147-0dfn7soqta4bm1ck94v7kp01mpdbvdef</string>
	<key>API_KEY</key>
	<string>AIzaSyDGKWF0AXpyX2J8EfnvkZk3kPX3XTIDVzk</string>
	<key>GCM_SENDER_ID</key>
	<string>626477440147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.htetmgblog.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>htetmgblog</string>
	<key>STORAGE_BUCKET</key>
	<string>htetmgblog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626477440147:ios:0343b1e4812b4b1dab4166</string>
</dict>
</plist>